* {
  margin: 0;
  padding: 0; }

.clip-svg {
  width: 0;
  height: 0; }

#banner {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  height: 325px;
  width: 100%;
  background: #000000 url(../img/degradado1.png) 0 0 no-repeat; }
  #banner #trazado {
    position: relative;
    width: 40%;
    float: right;
    height: 325px;
    background: #401a3f url(../img/degradado2.png) 0 0 no-repeat;
    background-size: 100% 100%;
    -webkit-clip-path: polygon(29.75% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(29.75% 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: url("#clip-polygon");
    clip-path: url("#clip-polygon"); }
    #banner #trazado div {
      width: 93.75%;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 72px;
      border-top: 1px solid #8a63a6; }
    #banner #trazado #tp {
      position: absolute;
      bottom: 96px;
      right: 22%;
      width: 27.25%; }
    #banner #trazado #box {
      position: absolute;
      bottom: 55px;
      width: 50%;
      height: 31px;
      border: 1px solid #8a63a6;
      line-height: 31px;
      text-align: center;
      background-color: #121314;
      right: 10.25%; }
      #banner #trazado #box img {
        width: 75%; }
  #banner ul.frames li.frame1 img {
    position: absolute;
    opacity: 0;
    top: 335px; }
    #banner ul.frames li.frame1 img#f11 {
      left: 8.3%;
      width: 53.4%;
      max-width: 534px; }
    #banner ul.frames li.frame1 img#f12 {
      left: 15.6%;
      width: 38.7%;
      max-width: 387px; }
  #banner ul.frames li.frame2 img {
    position: absolute;
    opacity: 0;
    top: 335px; }
    #banner ul.frames li.frame2 img#f21 {
      left: 6%;
      width: 57.8%;
      max-width: 578px; }
    #banner ul.frames li.frame2 img#f22 {
      left: 6%;
      width: 57.8%;
      max-width: 578px; }
    #banner ul.frames li.frame2 img#f23 {
      left: 13.5%;
      width: 44.4%;
      max-width: 444px; }
  #banner ul.frames li.frame3 img {
    opacity: 0; }
    #banner ul.frames li.frame3 img#f31 {
      position: absolute;
      left: 7%;
      width: 57.8%;
      max-width: 578px;
      top: 335px; }
  #banner ul.frames li.frame3 div.linea {
    width: 0px;
    position: absolute;
    bottom: 0;
    right: 37.3%;
    height: 72px;
    border-top: 1px solid #8a63a6; }
  #banner ul.frames li.frame3 div.animado {
    position: absolute;
    bottom: 40px;
    width: 32.4%;
    height: 67px;
    left: 16.6%;
    background-color: #000000;
    text-align: center;
    line-height: 100px;
    z-index: 150;
    display: none; }
    #banner ul.frames li.frame3 div.animado img {
      margin-right: 6.17284%;
      opacity: 0; }
    #banner ul.frames li.frame3 div.animado img#sed {
      width: 25.92593%; }
    #banner ul.frames li.frame3 div.animado img#dui {
      width: 23.76543%; }
    #banner ul.frames li.frame3 div.animado img#erat {
      width: 22.83951%; }
    #banner ul.frames li.frame3 div.animado img:last-child {
      margin-right: 0px; }
