
*{
	margin:0;
	padding:0;
}

.clip-svg {
    width: 0;
    height: 0;
}

#banner {
	
    position: relative;
    overflow: hidden;
	max-width: 1000px;
	height: 325px;
	width: 100%;
	background: #000000 url(../img/degradado1.png) 0 0 no-repeat;
	
	#trazado {
		position: relative;
		width: 400px / 1000px * 100%;
		float: right;
		height: 325px;
		background: #401a3f  url(../img/degradado2.png) 0 0 no-repeat;
		background-size: 100% 100%;
    	-webkit-clip-path: polygon(29.75% 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(29.75% 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: url("#clip-polygon");
        clip-path: url("#clip-polygon");


    	div {
    		width: 375px / 400px *100%;
    		position: absolute;
    		bottom: 0;
    		right: 0;
    		height: 72px;
    		border-top: 1px solid #8a63a6;

    	}

        #tp {
            position: absolute;
            bottom: 96px;
            right: 88px / 400px * 100%;
            width: 109px / 400px * 100%;
        }

        #box {
            position: absolute;
            bottom: 55px;
            width: 200px / 400px * 100%;
            height: 31px;
            border: 1px solid #8a63a6;
            line-height: 31px;
            text-align: center;
            background-color: #121314;
            right: 41px / 400px * 100%;

            img {
                width: 150px / 200px * 100%;
            }
        }
        

	}


	ul.frames{
		li.frame1 {
			img {
                position: absolute;
                opacity: 0;
                top: 335px;

				&#f11{
					
					left: 83px / 1000px * 100%;
					//top: 100px; //posicion del frame al mostrarse
                    
					width: 534px / 1000px * 100%;
					max-width: 534px;
                    
				}

				&#f12 {
					left: 156px / 1000px * 100%;
					//top: 185px; //posicion del frame al mostrarse
					width: 387px / 1000px * 100%;
					max-width: 387px;
				}
				
			}
		}


		li.frame2 {
			img {
                position: absolute;
                opacity: 0;
                top: 335px;

				&#f21{
					left: 60px / 1000px * 100%;
					//top: 67px; posicion del frame al mostrarse
					width: 578px / 1000px * 100%;
					max-width: 578px;
				}

				&#f22{
					left: 60px / 1000px * 100%;
					//top: 134px; posicion del frame al mostrarse
					width: 578px / 1000px * 100%;
					max-width: 578px;
				}

				&#f23{
					left: 135px / 1000px * 100%;
					//top: 207px;
					width: 444px / 1000px * 100%;
					//margin-top: 87px;
					max-width: 444px;
				}
			}

		}


        li.frame3 {
            img {
                
                opacity: 0;
                

                &#f31{
                    position: absolute;
                    left: 70px / 1000px * 100%;
                    //top: 76px; posicion del frame al mostrarse
                    width: 578px / 1000px * 100%;
                    max-width: 578px;
                    top: 335px;
                }
            }

            div.linea {
                //width: 627px / 1000px * 100%;
                width: 0px;
                position: absolute;
                bottom: 0;
                right: 373px / 1000px * 100%;
                height: 72px;
                border-top: 1px solid #8a63a6;
            }

            div.animado {
                position: absolute;
                bottom: 40px;
                width: 324px / 1000px * 100%;
                height: 67px;
                left: 166px / 1000px * 100%;
                background-color: #000000;
                text-align: center;
                line-height: 100px;
                z-index: 150;
                display: none;

                img {
                    margin-right: 20px / 324px * 100%;
                    opacity: 0;

                }

                img#sed {
                    width: 84px / 324px * 100%;
                }

                img#dui {
                    width: 77px / 324px * 100%;
                }

                 img#erat {
                    width: 74px / 324px * 100%;
                }

                img:last-child {
                     margin-right: 0px;
                }
            }
            
        }


    }
}