@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?kb0yt7");
  src: url("../fonts/icomoon.eot?kb0yt7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?kb0yt7") format("truetype"), url("../fonts/icomoon.woff?kb0yt7") format("woff"), url("../fonts/icomoon.svg?kb0yt7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: ""; }

.icon-editorial:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-infographic:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-video:before {
  content: ""; }

.clear {
  clear: both; }

a:hover, a:link {
  text-decoration: none; }

body {
  padding-bottom: 187px; }

header {
  text-align: center;
  height: 70px;
  border-bottom: 1px solid #ededed; }
  @media screen and (max-width: 767px) {
    header {
      height: 60px; } }
  header span {
    float: left;
    line-height: 70px !important;
    margin-left: 1.5625%;
    font-size: 40px;
    color: #908f8f;
    cursor: pointer; }
    @media screen and (max-width: 767px) {
      header span {
        line-height: 60px !important;
        font-size: 30px; } }
  header h1 {
    margin: 0px;
    padding: 0px;
    line-height: 70px;
    font-family: 'Proxima Nova Alt Rg';
    font-size: 24px; }
    @media screen and (max-width: 767px) {
      header h1 {
        line-height: 60px !important;
        font-size: 14px; } }

div#principal {
  position: relative; }

#menu {
  position: fixed;
  left: -400px;
  top: 0;
  z-index: 10;
  background-color: white;
  -webkit-transition: left 0.5s;
  /* Safari */
  transition: left 0.5s;
  max-width: 400px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-y: auto; }
  #menu.show-menu {
    left: 0px;
    -webkit-transition: left 0.5s;
    /* Safari */
    transition: left 0.5s; }
  #menu p.options {
    background-color: black;
    height: 60px;
    margin: 0px;
    text-align: center;
    line-height: 60px;
    color: white; }
    #menu p.options span.icon-close {
      float: right;
      line-height: 60px;
      margin-right: 10px;
      cursor: pointer; }
    #menu p.options span.icon-home {
      float: left;
      line-height: 60px;
      margin-left: 10px; }
  #menu a.accordion-title {
    position: relative;
    width: 100%;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    color: white; }
    #menu a.accordion-title span.toggle-icon:before {
      font-family: 'icomoon';
      float: right;
      margin-right: 10px;
      font-weight: bold; }
    #menu a.accordion-title span.toggle-icon:before {
      content: '\e906'; }
    #menu a.accordion-title.open span.toggle-icon:before {
      font-family: 'icomoon';
      float: right;
      margin-right: 10px;
      font-weight: bold; }
    #menu a.accordion-title.open span.toggle-icon:before {
      content: '\e905'; }

div.accordion-content {
  padding-top: 10px;
  display: none; }
  div.accordion-content a {
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;
    height: 100px; }
    div.accordion-content a img {
      width: 20%;
      float: left;
      margin-right: 2%; }
    div.accordion-content a p {
      width: 75%;
      float: left;
      margin: 0px;
      color: #333333;
      font-size: 15px; }
    div.accordion-content a:last-child {
      border: 0px; }

section {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 52px; }
  @media screen and (max-width: 767px) {
    section {
      max-width: 650px; } }
  section p.show-stories {
    text-align: center;
    width: 94%;
    margin: 0 auto;
    clear: both;
    border: 1px solid #ededed;
    color: #266bad;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px; }
  @media screen and (max-width: 767px) {
    section div.stories {
      display: none; } }
  section a {
    height: 290px;
    position: relative;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white; }
    @media screen and (max-width: 767px) {
      section a {
        height: 60px; } }
    section a span {
      float: right;
      margin-right: 20px;
      margin-top: 5px;
      font-size: 40px;
      color: white; }
      @media screen and (max-width: 767px) {
        section a span {
          margin-top: 0px;
          margin-right: 10px;
          font-size: 41px;
          cursor: pointer;
          line-height: 60px !important; } }
    section a p {
      position: absolute;
      bottom: 25px;
      left: 5%;
      font-family: 'Proxima Nova Alt';
      font-size: 19px;
      color: white;
      margin: 0; }
      @media screen and (max-width: 767px) {
        section a p {
          bottom: 22px;
          left: 3.84615%;
          font-size: 16px; } }
    section a h2 {
      margin: 0;
      position: absolute;
      bottom: 16px;
      left: 20px;
      font-family: 'Proxima Nova Alt';
      color: white;
      font-size: 16px; }
      @media screen and (max-width: 767px) {
        section a h2 {
          bottom: 24px;
          left: 4.15385%; } }

.bundle {
  background-color: #F4F5F6; }
  @media screen and (max-width: 767px) {
    .bundle {
      height: 122px;
      background-color: #FFFFFF;
      padding-top: 20px; } }
  .bundle img {
    width: 100%;
    background-color: #f4f5f6;
    display: none; }
    @media screen and (max-width: 767px) {
      .bundle img {
        background-color: #f4f5f6;
        float: left;
        width: 20%;
        margin-left: 16px;
        display: block;
        max-height: 90px; } }
  .bundle p {
    font-size: 16px;
    color: black; }
    @media screen and (max-width: 767px) {
      .bundle p {
        bottom: 0px;
        left: 0px;
        position: relative;
        float: left;
        width: 75%;
        font-size: 19px;
        padding-left: 15px; } }

.box-blue {
  background-color: #2367B0; }
  @media screen and (max-width: 767px) {
    .box-blue {
      height: 192px; } }

.box-orange {
  background-color: #F57C00; }
  @media screen and (max-width: 767px) {
    .box-orange h2 {
      top: 18px; } }

.topic-one {
  background-color: #EE4580; }

.topic-two {
  background-color: #FCBF12; }

.topic-three {
  background-color: #009588; }

.topic-four {
  background-color: #06BBD3; }

.topic-five {
  background-color: #D22E2F; }

.topic-six {
  background-color: #66499C; }

.topic-seven {
  background-color: #8abe51; }
