@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('#{$icomoon-font-path}/icomoon.eot?kb0yt7');
    src:    url('#{$icomoon-font-path}/icomoon.eot?kb0yt7#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icomoon.ttf?kb0yt7') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff?kb0yt7') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg?kb0yt7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}
.icon-editorial {
    &:before {
        content: $icon-editorial;
    }
}
.icon-home {
    &:before {
        content: $icon-home;
    }
}
.icon-infographic {
    &:before {
        content: $icon-infographic;
    }
}
.icon-menu {
    &:before {
        content: $icon-menu;
    }
}
.icon-minus {
    &:before {
        content: $icon-minus;
    }
}
.icon-plus {
    &:before {
        content: $icon-plus;
    }
}
.icon-video {
    &:before {
        content: $icon-video;
    }
}

