@import 'mixins';
@import 'iconos';

.clear {
	clear: both;
}

a:hover, a:link {
	text-decoration: none;
}

body {
	padding-bottom: 187px;
}

header {

	text-align: center;
	height: 70px;
	border-bottom: 1px solid #ededed;

	@include breakpoint(mobil){
		height: 60px;
	}

	span {
		float: left;
		line-height: 70px !important;
		margin-left: 25px / 1600px * 100%;
		font-size: 40px;
		color: #908f8f;
		cursor: pointer;

		@include breakpoint(mobil){
			line-height: 60px !important;
			font-size: 30px;
		}
	}

	h1 {
		margin: 0px;
		padding: 0px;
		line-height: 70px;
		font-family: 'Proxima Nova Alt Rg';
		font-size: 24px;

		@include breakpoint(mobil){
			line-height: 60px !important;
			font-size: 14px;
		}
	}

	
}

div#principal {
	position:relative;
}



#menu {
	
	&.show-menu {
		left: 0px;
		-webkit-transition: left 0.5s; /* Safari */
    	transition: left 0.5s;
	}


	position: fixed;
	left: -400px;
	top: 0;
	z-index: 10;
	background-color: white;
	-webkit-transition: left 0.5s; /* Safari */
    transition: left 0.5s;
	max-width: 400px;
	height: 100%;
	width: 100%;
	font-size: 18px;
	overflow-y: auto;

	p.options {
		background-color: black;
		height: 60px;
		margin: 0px;
		text-align: center;
		line-height: 60px;
		color: white;

		span {
			&.icon-close {
				float: right;
				line-height: 60px;
				margin-right: 10px;
				cursor: pointer;
			}

			&.icon-home {
				float: left;
				line-height: 60px;
				margin-left: 10px;
			}
		}
	}
	a.accordion-title {
		position: relative;
		width: 100%;
		display: block;
		padding-left: 10px;
		height: 60px;
		line-height: 60px;
		color: white;

		span{
			&.toggle-icon:before {
				font-family: 'icomoon';
    			float: right;
    			margin-right: 10px;
    			font-weight: bold;
			}

			&.toggle-icon:before {
				content:'\e906';
			}
		}


		&.open{
			span{
				&.toggle-icon:before {
					font-family: 'icomoon';
    				float: right;
    				margin-right: 10px;
    				font-weight: bold;
				}
				&.toggle-icon:before {
    				content:'\e905';
    			}
			}
    	}
	} 


	
}
	
div.accordion-content {

	padding-top: 10px;
	display: none;

	a {
		display: block;

		padding-left: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ededed;
		height: 100px;

		img {
			width: 20%;
			float: left;
			margin-right: 2%;
		}

		p {
			width: 75%;
			float: left;
			margin: 0px;
			color: #333333;
			font-size: 15px;
		}

		&:last-child {
			border: 0px;
		}
	}

	
}	


section {
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 52px;

	@include breakpoint(mobil){
		max-width: 650px;
	}

	p.show-stories {
		text-align: center;
		width: 94%;
		margin: 0 auto;
		clear: both;
		border: 1px solid #ededed;
		color: #266bad;
		font-size: 20px;
		cursor: pointer;
		margin-bottom: 10px;
	}

	div.stories {
		@include breakpoint(mobil){
			display: none;
		}
	}

	a {
	height: 290px;
	position: relative;
	border-left: 0.5px solid white;
	border-right: 0.5px solid white;

	@include breakpoint(mobil){
		height: 60px;
	}

	span {
		float: right;
		margin-right: 20px;
		margin-top: 5px;
		font-size: 40px;
		color: white;

		@include breakpoint(mobil){
			margin-top: 0px;
			margin-right: 10px;
			font-size: 41px;
			cursor: pointer;

			line-height: 60px !important;
		}
	}

	p {
		position: absolute;
		bottom: 25px;
		left: 20px / 400px * 100%;
		font-family: 'Proxima Nova Alt';
		font-size: 19px;
		color: white;
		margin: 0;

		@include breakpoint(mobil){
			bottom: 22px;
			left: 25px / 650px * 100%;
			font-size: 16px;
		}
	}

	

	h2 {
		margin: 0;
		position: absolute;
		bottom: 16px;
		left: 20px;
		font-family: 'Proxima Nova Alt';
		color: white;
		font-size: 16px;

		@include breakpoint(mobil){
			bottom: 24px;
			left: 27px / 650px * 100%;
		}
	}
}
}



.bundle {
	background-color: #F4F5F6;
	
	@include breakpoint(mobil){
			height: 122px;
			background-color: #FFFFFF;
			padding-top: 20px;
	}
	
	img {
		
		width: 100%;
		background-color: #f4f5f6;
		display: none;

		@include breakpoint(mobil){
			background-color: #f4f5f6;
			float: left;
			width: 20%;
			margin-left: 16px;
			display: block;
			max-height: 90px;
		}
	}

	p {
		font-size: 16px;
		color: black;

		@include breakpoint(mobil){
			bottom: 0px;
			left: 0px;
			position: relative;
			float: left;
			width: 75%;
			font-size: 19px;
			padding-left: 15px;
		}

	}
}
.box-blue {
	background-color: #2367B0;

	@include breakpoint(mobil){
		height: 192px;
	}
}

.box-orange {
	background-color: #F57C00;

	h2 {
		@include breakpoint(mobil){
			top: 18px;
		}
	}
}

.topic-one {
	background-color: #EE4580;
}

.topic-two {
	background-color: #FCBF12;
}

.topic-three {
	background-color: #009588;
}

.topic-four {
	background-color: #06BBD3;
}

.topic-five {
	background-color: #D22E2F;
}

.topic-six {
	background-color: #66499C;
}

.topic-seven {
	background-color: #8abe51;
}








