$icomoon-font-path: "../fonts" !default;

$icon-close: "\e900";
$icon-editorial: "\e901";
$icon-home: "\e902";
$icon-infographic: "\e903";
$icon-menu: "\e904";
$icon-minus: "\e905";
$icon-plus: "\e906";
$icon-video: "\e907";

